
body {
  Color: #000;
  background-image: url("../images/html6.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
h1 {
  text-align: right;
  font-size: 98px;
  color: black;
}

h2 {
  color: black;
  text-decoration: overline;
  text-align: right;
}

p {
  text-align: right;
  font-size: 12px;
}

.content {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.content-left {
  float: left;
  width: 50%;
  padding-right: 20px;
}

  .kreis {
    border-radius: 50%;
    padding-left: 20px;
    float: right;


  }
