* {
  box-sizing: border-box;
}

body {
  color: #000;
  background-image: url("../images/grau.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
h1 {
  text-align: right;
  font-size: 98px;
  color: yellow;
}

h2 {
  color: white;
  text-decoration: overline;
  text-align: right;
  padding-top: 30px;
}

p {
  text-align: right;
  font-size: 12px;
  color: white;
  padding-top: 3px;
}

a {
  text-align: center;
  font-size: 20px;
  color: yellow;
  text-decoration: none;
  font-family: "Roboto";
  }

.content {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  line-height: 1.5;
}

.content-left {
  float: left;
  width: 50%;
  padding-right: 20px;
  margin-top: 20px;
}

  .kreis {
    border-radius: 50%;
    padding-left: 20px;
    float: right;
    margin-right: 90px;
    margin-top: 420px;
  }

.link {
  float: right;
  margin-right: 700px;
  margin-top: 399px;
}
