body {
  Background: #ccc;
  Color: #000;
}
h1 {
  text-align: right;
  font-size: 228px;
  color: white;
  font-family: Arial;
  text-decoration: underline;
}
h2 {
  text-align: right;
  font-size: 100px;
  color: white;
  font-family: Arial;
}

 .überschrift {
  height: 650px;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start
  height: 650px;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 650px;
}

.row-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 1150px;
}
