body {
  Background: #ccc;
  Color: #000;
}
h1 {
  display: flex;
  text-align: right;
  font-size: 328px;
  color: white;
  font-family: "Canter Outline";
  justify-content: center;
  margin-top: 100;
}
h2 {

  font-size: 90px;
  color: white;
  font-family: "Canter Light";

}

a {
  font-size: 90px;
  color: white;
  font-family: "Canter Light";
  text-decoration:none;
  font-weight: bold;


}



.row-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start
  height: 250px;
}

.row-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 650px;
}

.row-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 650px;
}

.row-4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 650px;
}
